@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

:root {
  background: #f8f9fa;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* max-width: 900px; */
  margin: auto 1.5rem;
}

/* colored header */

.header {
  background: #ebfbee;
  max-width: 1550px;
  margin: 0.5rem auto;
  border-radius: 0.9rem;
  /* border: 1px solid black; */
  padding: 0.5rem 1.5rem;
  text-align: left;
}

/* card display */

.flexy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mar-x {
  margin: 0.5rem;
}

/* footer */
footer {
  width: 100%;
}

footer a {
  color: #004cc6;
  text-decoration-color: black;
}

footer a:hover {
  text-decoration: none;
}
